html{
	max-width: 1280px;	
	margin: auto;	
}
*
{
	margin: 0px;
	padding: 0px;
}

/*
=================================================================================================
                                               Home 
=================================================================================================
 */

/*
======================
  Reportes
======================
 */

#reportes
{

	border-radius: 10px;
	color: black;
}
/*
======================
  Propiedades del head
======================
 */


.head
{
	top: 0;
	width: 100%;
	padding: 0.25em;
	background: #333399;
	height: 150px;
	display: flex;	
	justify-content:flex-end;
	align-items:center; 
}

.contenedor_head
{
	vertical-align: top;
}

.contenedor_head h1
{
	display: inline-block;
	vertical-align: top;
}

.contenedor_img
{
	display: inline-block;	
}

.contenedor_inicio
{
	margin-left: auto;
	position: relative;
}

/*
===========================
Propiedades de las imagenes
===========================
 */
.head a img 
{
	margin: 30px;
	margin-right: 0px;
	width: 80px;
	height: 80px;
}
.head a .img2 
{
	width: 90px;
	margin-left: 0px;
}


/*
===========================
Propiedades de los titulos
===========================
 */

#titulo_movil
{
	display: none;
}

#titulo
{
	margin: 0.25em auto;
	text-align: left;
	font-family: Century Gothic;
	font-size: 34pt;
	width: 500px;
	color: #fff;
}


/*
===============================
Propiedades del boton de inicio
===============================
*/

a.button.inicio
{
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));
    background: -moz-linear-gradient(#fff, #f2f2f2);
    background: linear-gradient(#fff, #f2f2f2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin:40px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; 
}

a.button.inicio:hover
{
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef;
}
    
a.button.inicio:active 
{
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;
}


/* 
====================
Propiedades del body
====================
*/
.body
{
	top: 0;
	width:100%;
	padding: 0px;
	padding-top: 2em;
	background: #fff;
	height: 450px;
	display: flex;	
}

.conternedor_cuerpo
{
	display: flex;
	width: 100%;
	margin-top: 2em;
}

.contenedor_menu
{
	justify-content:flex-end;
	align-items:center; 
	width: 27%;
	height: 250px;
	padding-left: 3em;
}

/* 
======================
Propiedades del banner
======================
*/
.banner
{
	justify-content:flex-end;
	align-items:center; 
	width: 1000px;
	height: 303px;
	margin: 0px;
 	background: url('../img/baner.png');
 	padding: 0;
}
/*
=================================
Propiedades de la caja del banner
=================================
 */
.banner .banner-rigth
{	
	background: rgba(255, 255, 255, 0.4);
	width: 300px;
	height: 303px;
	float: right;
	margin: 0;
	padding-right: 1em;
	
}

.banner .banner-rigth .barra_nuevo
{
	width: 100px;
	height: 100px;
	background: url('../img/bandera.png') no-repeat;
	display: inline-block;
}

.banner .banner-rigth #titulo2
{
	margin: 0;
	margin-top: 1em;
	width: 5em;
	color: #000;
	text-align: right;
	font-family: Century Gothic;
	font-size: 22pt;
	display: inline-block;
}
.banner .banner-rigth p
{
	margin-top: 2em;
	text-align: center;
	font-size: 15pt;
}

.banner .banner-rigth .star
{
	margin-left: 2em;
}

.banner .banner-rigth .star .active
{
	color: #ffea00;
}


.banner .banner-rigth .button_caja
{
	margin-left: 1em;
	margin-top: 1em;
}

.banner .banner-rigth .button_caja .caja
{
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #000;
	font-weight: 700;
}

.banner .banner-rigth .button_caja .caja:first-child
{
	margin-right: 0.7em;
}

/* 
====================
Propiedades del menu
====================
*/

.contenedor_menu ul
{
	list-style: none;
}
.menu_movil
{
	display: none;
}

.buttonli
{
	position:relative;
	margin-bottom: 1em;
	margin-top: 13px;
	-webkit-border-radius: 7px 0px 0px 7px;
	-moz-border-radius: 7px 0px 0px 7px;
	border-radius: 7px 0px 0px 7px;
	background:url("../img/menu.jpg") repeat-x;
	padding: 1.3em;
	margin-top:0px;
	border: solid #f5f5f5 1px;
}

.icono1
{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/file.png")no-repeat;
	margin-right: 1em;
}

.icono2
{
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/user.png")no-repeat;
	margin-right: 1em;
}
.icono3
{
	display: inline-block;
	width: 40px;
	height: 35px;
	background: url("../img/star.png") no-repeat;
	margin-right: 1em;
}

a.menu2
{
	display: none;
}

a.menu
 {
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	height: 35px;
	text-transform: uppercase;
}

a .icon img
{
   width: 25px;
   height: 30px;
   margin-top: 10px;
}

/* 
=======================
Propiedades de la barra
=======================
*/

.titulo2
{
	color: #333399;
	margin-top: 1em;
	margin-left: 0.5em;
}

.barra
{
	height: 90px;
}

.titulo3
{
	margin-top: 1em;
	margin-left: 0.7em;
	display: inline-block;
}

#btn_filtro
{
	padding-left:3em; 
	padding-right:3em;
	margin-left: 3em;
}

#input_buscar
{
	width: 250px;
	margin-left: 3em;
	border: 1px solid;
	padding: 0 0 0 1em;
}

#li_dropdown
{
	color: blue;
}

.barra .buscar
{
	margin-left: 3em;
}

/*
========================
propiedades de las cajas
========================
*/

.cajas
{
 	margin-bottom: 3em;
 	margin-top: 3em;

}

.cajas article
{
 	display: inline-block;
 	border-left: 1px solid #000;
 	padding-left: 5em;
 	margin-right: 5em;
}

.cajas article p
{
 	font-size: 1.64rem;
  	line-height: 1.804rem;
  	margin: 0.82rem 0 0.656rem 0;
  	font-weight: 400;
} 

.cajas article:first-child
 {
 	margin-left: 1em;
 	border: none;
 }



.cajas .star
{
	margin-left: 2em;
}

.cajas .active
{
	color: #ffea00;
	opacity: 1;
}



.cajas .button_caja .caja
{
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #000;
	font-weight: 700;
}

.cajas .button_caja .caja:first-child
{
	margin-right: 0.7em;
}

.button_caja .mas2
{
	display: none;
}	


/*
======================
propiedades del footer
======================
*/

 .footer
{
	top: 0;
	width: 100%;
	padding: 0.25em;
	background: #336699;
	height: 225px;
	padding: 2em;
	margin-top: 2em;

}

.direc
{
	width: 100%;
	height: 100px;
	text-align: right;
	color: white;
	font-size: 14pt;
}

.contac
{
	width: 100%;
	height: 80px;
	margin-top: 1em;

}

.contac .movil
{
	display: none;
}
.text_contac
{
	width: 50%;
	height: 80px;	
	display: inline-block;
	color: white;
	font-size: 14pt;
}


.redes
{
	width: 50%;
	height: 80px;	
	display: inline-block;
	float: right;
}

.redes img
{
	float: right;
	margin-left: 1em;
}

.redes .text, .redes .icon, .redes .icon2
{
	display: none;
}

/*
=================================================================================================
                                               Cursos 
=================================================================================================
 */


.contenedor_cursos
{
	justify-content:flex-end;
	align-items:center; 
	width: 1000px;
	height: 810px;
	margin: 0px;
 	padding: 0;
 	padding-left: 1em;
}

.caja_cursos.movil
{
	display: none;
}

.barra.cursos.movil
{
	display: none;
}

/*
====================
propiedades del menu
====================
*/
.contenedor_menu.cursos
{
	height: 810px;
}


.buttonli.active
{
	background:url("../img/menu2.jpg") repeat-x;
}

/*
=======================
propiedades de la barra
=======================
*/
.titulo2.cursos
{
	margin-top: 0;
}

.barra.cursos
{
	height: 70px;
}

/*
=======================
propiedades de la cajas
=======================
*/
.caja_cursos
{
	height: 600px;
}

.cajas.cursos
{
	margin-top: 1em;
	margin-bottom: 2em;
}

.cajas.cursos article .titulo_caja
{
	font-size: 2rem;
	margin: 0;
}

.cajas.cursos article p
{
	font-size: 1.4rem;
}

.cajas.cursos .star 
{
  margin-left: 0;
}

.cajas.cursos article 
{
	padding-left: 1em;	
	margin-right: 1em;
}

#paginacion
{
	margin-left: 20em;
}

/*
============================
propiedades de la caja nueva
============================
*/

.caja_Nueva
{
	margin-top: 4em;
	height: 300px;
}

.caja_Nueva .barra_nuevo
{
	width: 100px;
	height: 100px;
	background: url('../img/bandera.png') no-repeat;
	display: inline-block;
}

.caja_Nueva #titulo2
{
	margin: 0;
	margin-top: 1em;
	width: 5em;
	color: #000;
	text-align: right;
	font-family: Century Gothic;
	font-size: 22pt;
	display: inline-block;
}


.caja_Nueva p
{
	margin-top: 2em;
	text-align: center;
	font-size: 15pt;
}

.caja_Nueva .star
{
	margin-left: 2em;
}

.caja_Nueva .star .active
{
	color: #ffea00;
}


.caja_Nueva .button_caja
{
	margin-left: 1em;
	margin-top: 1em;
}

.caja_Nueva .button_caja .caja
{
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #000;
	font-weight: 700;
}

.caja_Nueva .button_caja .caja:first-child
{
	margin-right: 0.7em;
}

/*
=================================================================================================
                                               Inscribirme
=================================================================================================
 */
.titulo2.inscribirme
{
	display: none;
}

.incribirme.movil
{
	display: none;
}

.incribirme, .incribirme.movil
{
	height: 600px;
	incribirme
	font-size: 22pt;
	padding: 1em;
}

.incribirme.movil
{
	margin-top: 2em;
}


.incribirme p{
	font-size: 2em;
}

/*
=====================================================================================================
                                                    reponsive
=====================================================================================================
*/



}

@media screen and (max-width: 1308px) {
	.cajas article:first-child
 	{
 		margin-left: 0.1em;
 	}
}

@media screen and (max-width: 1290px) {
	.caja_Nueva .button_caja .caja
	{
		font-size: 9pt;
		padding-left: 2em;
		padding-right: 2em;
	}
	
	.caja_Nueva .barra_nuevo 
	{
  		width: 83px;
  	}
}

@media screen and (max-width: 1282px) {
	.cajas article:last-child
	{
		display: none;
	}
	
	.cajas.home article:first-child
 	{
 		margin-left: 0;
 	}	

 	.cajas.cursos article:first-child
 	{
 		margin-left: 8em;
 	}

 	#paginacion 
 	{
		margin-left: 16em;	
	}
}


@media screen  and (max-width: 1224px) {
	.cajas article:last-child
	{
		display: none;
	}

	.buttonli 
	{
 		margin-bottom: 1.3em;		
 	}
 	a.menu
 	{
 		font-size: 16px;
 	}

}

@media screen  and (max-width: 1224px) {
	.caja_Nueva #titulo2
	{
		font-size: 19pt;
	}
	.caja_Nueva p 
	{
		font-size: 13pt;
	}

}

@media screen  and (max-width: 1171px) {		
 	a.menu
 	{
 		font-size: 20px;
 	}
 	.icono1
 	{
 		display: none;
 	}
 	.icono2
 	{
 		display: none;
 	}
 	.icono3
 	{
 		display: none;
 	}
 	.buttonli 
	{
 		margin-bottom: 2em;		
 		padding: 1.5em;
 	}
}

@media screen and (max-width: 1119px) {
	.caja_Nueva #titulo2
	{
		font-size: 18pt;
	}
	.caja_Nueva p 
	{
		font-size: 11pt;
	}

}

@media screen and (max-width: 1156px) {
	#input_buscar {
    	width: 170px;
    }
    .caja_Nueva .button_caja .caja 
    {
 		font-size: 8pt;
  		padding-left: 1.5em;
  		padding-right: 1.5em;
	}
}

@media screen and (max-width: 1125px) {		
 	a.menu
 	{
 		font-size: 18px;
 	}
 	.cajas article:first-child
 	{
 		margin-left: 7em;
 	}	
 	.titulo3.curso
 	{
 		display: none;
 	}
}

@media screen and (max-width: 1100px) {		
	.caja_Nueva
	{
		display: none;
	}
	#reportes2, #reportes
	{
		display: none;
	}
}

@media screen and (max-width: 1065px) {		
 	a.menu
 	{
 		font-size: 16px;
 	}
}



@media screen and (max-width: 987px) {	
	#titulo
	{
		display: none;
	}
	
	#titulo_movil
	{
		margin: 0.25em auto;
		text-align: left;
		font-family: Century Gothic;
		font-size: 30pt;
		margin-top: 0.9em;
		color: #fff;
		display: inline-block;
	}
}

@media screen and (max-width: 970px) {	
	.cajas article:first-child
	{
  		margin-left: 3em;
	}
}

@media screen and (max-width: 950px) {	

	a.menu.mas 
	{
		display: none;
	}	

	a.menu2
	{
		display: inline-block;	  
		font-family: Arial;
		color: #ffffff;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		height: 35px;
		text-transform: uppercase;
		font-size: 16px;
	}
	.buttonli 
	{
 		margin-bottom: 2.4em;		
 		padding: 1.5em;
 		padding-top: 2em;
 		padding-bottom: 1em;
 	}

}

@media screen and (max-width: 940px) {	
	a.menu, a.menu2
 	{
 		font-size: 14px;
 	}
}

@media screen and (max-width: 906px) {	
	a.menu, a.menu2
 	{
 		font-size: 12px;
 	}
}

@media screen and (max-width: 874px) {
	.cajas.cursos article:first-child 
	{
  		margin-left: 2em;
	}
	
	#paginacion 
	{
 		 margin-left: 9em;
	}
}	

@media screen and (max-width: 850px) {	
	
	.cajas article:first-child
	{
  		margin-left: 1em;
	}

	#input_buscar 
	{
  		width: 200px;
	}	  		
}

@media screen and (max-width: 845px) {	
	
	a.menu, a.menu2
 	{
 		display: none;	
 	}
 	.icono1, .icono2, .icono3
 	{
 		display: block;
 	}
 	.buttonli 
	{
 		padding-top: 1.8em;
  		padding-bottom: 1.5em;
  		margin-bottom: 1.9em;
 	}

}

@media screen and (max-width: 850px) {	
	
	.cajas article:first-child 
	{
  		margin-left: 0;
	}	 
	#input_buscar 
	{
  		width: 180px;
	} 		
}

@media screen and (max-width: 825px) {	
	#input_buscar 
	{
  		margin-left: 1em
	}
	.barra .buscar 
	{
 		 margin-left: 1em;
	}
}

@media screen and (max-width: 802px) {	
	
	.cajas article:first-child 
	{
  		margin-left: 0.1em;
  		margin-right: 3em;
	}  		
}

@media screen and (max-width: 802px) {	
	
	.cajas.cursos article:first-child 
	{
 		 margin-left: 1em;
	}
}

/*(min-width: 320px) */
@media screen   and (max-width: 775px) {		
	#titulo
	{
		display: none;
	}
	
	#titulo_movil
	{
		margin: 0.25em auto;
		text-align: left;
		font-family: Century Gothic;
		font-size: 20pt;
		margin-top: 1.5em;
		color: #fff;
		display: inline-block;
	}

	.head
	{
		width: 100%;
		height: 100px;
	}

	.head a .img1 
	{
		display:none;
	}
	.head a .img2 
	{
		width: 80px;
		height: 80px;
		margin-left: 0px;
	}

	a.button.inicio
	{
		display: inline-block;
	    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
	    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    background: #fff;
	    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));
	    background: -moz-linear-gradient(#fff, #f2f2f2);
	    background: linear-gradient(#fff, #f2f2f2);
	    border: solid 1px #d0d0d0;
	    border-bottom: solid 3px #b2b1b1;
	    border-radius: 3px;
	    box-shadow: inset 0 0 0 1px #f5f5f5;
	    color: #555;
	    font: bold 10px Arial, Helvetica, Clean, sans-serif;
	    margin: 10px;
	    padding: 12px 20px;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: 0 1px 0 #fafafa; 
	}

	.barra .buscar 
	{
  		margin-left: 2em;
	}
	.contenedor_menu ul 
	{
		display: none;
	}
	.contenedor_menu
	{
		display: none;
	}
	.menu_movil
	{
		width: 100%;
		height: 60px;
		margin: 0;
		padding:0;
		display: block;
		margin-top: 1em;
		margin-left: 2em;
	}

    .menu_movil ul
    {
   		margin:0; 
   		padding:0; 
   		width: 100%;
    } 

    .menu_movil ul li
    {
    	display:inline;
    	/*margin-left: 0.2em;*/
    	margin-left: 6.2em;
    	float:left; 
    	text-align:center; 
    } 
    .menu_movil ul li:first-child
	{
		/*margin-left: 0.2em;*/
		margin-left: 10.2em;
	}
    .menu_movil a
    { 
    	display:block;
    	background-repeat:no-repeat; 
    	background-position:top; 
    	padding:40px 10px 0px 10px; 
    	color: #4B7CB6;
    } 


    .ico1
    {
    	background-image:url("../img/file2.png");
    } 

    .ico2
    {
    	background-image:url("../img/user2.png");
    }
    
    .ico3
    {
    	background-image:url("../img/star2.png");
    } 
    .menu_movil .active
    {
    	color: #333399;
    }

    .ico1.active
    {
    	background-image:url("../img/file3.png");
    } 

    .ico2.active
    {
    	background-image:url("../img/user3.png");
    }
    
    .ico3.active
    {
    	background-image:url("../img/star3.png");
    } 

	.conternedor_cuerpo 
	{
		margin: 0;
		height: 60px;
		width: 100%;
	}

	.cursos_movil 
	{
		text-decoration: none;
		width: 35px;
		height: 35px;
	}

	.titulo2
	{
		font-size: 16pt;
	}

	#input_buscar
	{
		/*margin-left: 0;*/
		margin-left: 1em;
		width: 155px;
	}
	.barra 
	{
 		 height: 60px;
	}

	.cajas article
	{
 		 padding-left: 3em;
	}

	.footer
	{
		width: 100%;
	}

	.direc
	{
		display: none;
	}

	.contac .movil
	{
		display: block;
		font-size: 17px;
	}

	.redes .icon2
	{
		display: block;
		float: right;
		margin-top: 60px;
		color: white;
	}
/*
==========================
Propiedades de cursos.html
==========================
*/
	.titulo2.inscribirme
	{
		display: block;	
	}
	.contenedor_cursos
	{
		display: none;
	}

	.caja_Nueva
	{
		display: none;
	}
	.banner
	{
		display: none;
	}
	
	.incribirme
	{
		display: none;
	}
	.incribirme.movil
	{
		display: block;
	}
	.barra.cursos.movil
	{
		display: block;
		margin-top: 3em;
	}

	.caja_cursos.movil
	{
		display: block;
	}

	#paginacion 
	{
 		margin-left: 15em;
	}

	.cajas.cursos article:first-child 
	{
 		 margin-left: 5em;
	}

}

@media screen   and (max-width: 719px) {		
	
	.titulo3
	{
		display: none;
	}

	#paginacion 
	{
  		margin-left: 8em;
	}
	.cajas.home article:last-child
	{
		display: inline-block;
	}

	.cajas article:first-child 
	{
 		 margin-right: 0.2em;
 		 margin-left: 0.1em;
	}

	.cajas article
	{
 		 margin-left: 0.2em;
 		 padding-left: 0.6em;
 		 margin-right: 0.2em;
	}

	.titulo_caja
	{
		font-size: 20pt;
	}

	.cajas article p
	{
		font-size: 14pt;
		margin-bottom: 0;
	}

	.cajas .star
	{
 		margin-left: 0.2em;
 		margin-bottom: 0.2em;
	}

	#star_movil
	{
		font-size: 1.7em
	}

	.button_caja .mas
	{
		display: none;
	}

	.button_caja .mas2
	{
		display: inline-block;
		padding-left: 1em;
		padding-right: 1em;
	}	
}

@media screen   and (max-width: 708px) {		

	.contac .web
	{
		display: none;
	}

	.tw
	{
		display: none;
	}

	.face
	{
		display: none;
	}

	.rss
	{
		display: none;
	}

	.redes
	{
		height: 145px;
		display: block;
	}
	.redes  .icon
    { 
    	display: block;
    	padding:0; 
    	color: white;
    	margin-left: 2.5em;
    	line-height: 1;
    } 
    .redes .text
    { 
		display: block;
		margin-left: 2.2em;
		font-size: 16pt;
		color: white;
    } 
    .redes .icon2
	{
		display: none;
	}
}

@media screen   and (max-width: 708px) {		
    .menu_movil ul li:first-child
	{
		margin-left: 5.2em;
	}
}

@media screen   and (max-width: 662px) {		
	.cajas.home article:last-child
	{
		display: none;
	}

	.cajas article:first-child
	{
  		margin-right: 3.2em;
  		margin-left: 1em;
	}
	.cajas article
	{
  		padding-left: 3em;
	}


}

@media screen   and (max-width: 592px) {		
	.barra .buscar
	{
		display: none;
	}
	#input_buscar
	{
		width: 270px;
	}
}

@media screen   and (max-width: 578px) {		
	.cajas.cursos article:first-child 
	{
		margin-right:1.2em;
		margin-left: 0;
	}
	#paginacion 
	{
  		margin-left: 4em;
	}
}

@media screen   and (max-width: 567px) {		
	.cajas article:first-child 
	{
		margin-right:1.2em;
		margin-left: 0;
	}
}

@media screen   and (max-width: 547px) {		
	.menu_movil ul li:first-child 
	{
  		margin-left: 0.2em;
	}

	.incribirme.movil
	{
		font-size: 16pt;
	}
}

@media screen   and (max-width: 526px) {		
	#btn_filtro
	{
		margin-left: 0.2em;
	}

	.cajas 
	{
  		margin-top: 0;
	}

	.cajas article:first-child 
	{
 		 margin-right: 0.2em;
 		 margin-left: 0.1em;
	}

	.cajas article
	{
 		 margin-left: 0.2em;
 		 padding-left: 0.6em;
 		 margin-right: 0.2em;
	}

	.titulo_caja
	{
		font-size: 18pt;
	}

	.cajas article p
	{
		font-size: 12pt;
		margin-bottom: 0;
	}

	.cajas .star
	{
 		margin-left: 0.2em;
 		margin-bottom: 0.2em;
	}

	#star_movil
	{
		font-size: 1.7em
	}

	.cajas .button_caja .caja:first-child
	{
		margin-right:0;
		padding-right: 1em;
		padding-left: 1em;
	}

	.cajas article:first-child 
	{
 		margin-right: 2.2em;
  		margin-left: 4.1em;
	}
}

@media screen   and (max-width: 487px) {		
	#input_buscar 
	{
  		width: 170px;
	}

	.cajas article:first-child 
	{
 		margin-right: 2.2em;
  		margin-left: 2.1em;
	}

	.menu_movil ul li 
	{
		margin-left: 4.2em;
	}
}

@media screen   and (max-width: 478px) {		
	.caja_cursos.movil .cajas.cursos article .titulo_caja 
	{
  		font-size: 1.5rem;  		
	}
	.caja_cursos.movil .cajas.cursos article p
	{
  		font-size: 1rem;  		
	}
	.caja_cursos.movil #bt_caja 
	{
  		font-size: 8pt;
	}

	.caja_cursos.movil .cajas.cursos article:first-child 
	{
  		margin-right: 0.2em;
  		margin-left: 0;
	}
	#paginacion 
	{
  		margin-left: -1em;
	}
	#paginacion  li 
	{
  		margin: 0 9px;
	}
}

@media screen   and (max-width: 427px) {		
	.cajas article:first-child 
	{
 		margin-right: 2.2em;
  		margin-left: 0;
	}
	.menu_movil ul li 
	{
		margin-left: 2.2em;
	}

	.incribirme.movil
	{
		font-size: 14pt;
	}
}

@media screen   and (max-width: 424px) {

}		

@media screen   and (max-width: 396px) {		
	.cajas article:first-child 
	{
 		margin-right: 0em;
  		margin-left: 0;
	}
	.menu_movil ul li 
	{
		margin-left: 2.2em;
	}

	#input_buscar 
	{
  		width: 145px;
  		margin-left: 0;
	}
}

@media screen   and (max-width: 396px) {		
	.contac .movil 
	{
  		font-size: 12px;
	}

	.footer 
	{
		height: 187px;
	}
}

@media screen   and (max-width: 365px) {		
	
	.menu_movil ul li 
	{
		margin-left: 1.2em;
	}

	#bt_caja
	{
		font-size: 8pt;
	}

	.titulo_caja
	{
		font-size: 18pt;
	}

	.cajas article p
	{
		font-size: 11pt;
		margin-bottom: 0;
	}
}

@media screen  and (max-width: 333px) {	

	#input_buscar 
	{
  		width: 120px;
  		margin-left: 0;
	}

	.menu_movil ul li 
	{
	    margin-left: 0.2em;
	}

	.titulo_caja
	{
		font-size: 17pt;
	}

	.cajas article p
	{
		font-size: 10pt;
		margin-bottom: 0;
	}

	#paginacion  li 
	{
  		margin: 0 7px;
	}

	.cajas.cursos article:first-child 
	{
    padding-left: 0;
	}
}
/*
=================================================================================================
                                               Facilitadores
=================================================================================================
 */
 .caja_facilitadores.movil
{
	display: none;
}
 .contenedor_facilitadores
{
	justify-content:flex-end;
	align-items:center; 
	width: 1000px;
	height: 810px;
	margin: 0px;
 	padding: 0;
 	padding-left: 1em;
}
.titulo2.facilitadores
{
	margin-top: 0;
}

.barra.facilitadores
{
	height: 70px;
}
.caja_facilitadores
{
	height:600px;
}
.caja_facilitadores section{

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
	margin-top: 1em;
	margin-bottom: 2em;
}

.cajas.facilitadores article{
	width:50%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	border:0;
	margin:0;
	padding:0;
}

.cajas.facilitadores article a img{
	margin-right: 2em;
	width:100px;
}
.cajas.facilitadores article a{
	margin-right: 1em;
	width:100px;
	-webkit-border-radius: 10;
  	-moz-border-radius: 10;
  	border-radius: 10px;
  	color: #000;
  	font-weight: 700;
}
.paginado{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1243px) {	
	
	.contenedor_facilitadores h5#filtrar 
	{
 		 display:none;
	}
}

@media screen and (max-width: 1058px) {	
	
	.caja_facilitadores section article h4
	{
 		 font-size: 2rem;
	}
	.caja_facilitadores section article h5
	{
 		 font-size: 1.5rem;
	}
	.cajas.facilitadores article a img{
		width:80px;
	}
	.cajas.facilitadores article a{
		width:80px;
	}
}

@media screen and (max-width: 846px) {	
	.cajas.facilitadores article a#foto{
		display:none;
	}

	.cajas.facilitadores article{
		margin-left: 10%;
	}

	.cajas.facilitadores article a{
		width:150px;
	}
}
@media screen   and (max-width: 775px) {		
	#titulo
	{
		display: none;
	}
	
	#titulo_movil
	{
		margin: 0.25em auto;
		text-align: left;
		font-family: Century Gothic;
		font-size: 20pt;
		margin-top: 1.5em;
		color: #fff;
		display: inline-block;
	}

	.head
	{
		width: 100%;
		height: 100px;
	}

	.head a .img1 
	{
		display:none;
	}
	.head a .img2 
	{
		width: 80px;
		height: 80px;
		margin-left: 0px;
	}

	a.button.inicio
	{
		display: inline-block;
	    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
	    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    background: #fff;
	    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#f2f2f2));
	    background: -moz-linear-gradient(#fff, #f2f2f2);
	    background: linear-gradient(#fff, #f2f2f2);
	    border: solid 1px #d0d0d0;
	    border-bottom: solid 3px #b2b1b1;
	    border-radius: 3px;
	    box-shadow: inset 0 0 0 1px #f5f5f5;
	    color: #555;
	    font: bold 10px Arial, Helvetica, Clean, sans-serif;
	    margin: 10px;
	    padding: 12px 20px;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: 0 1px 0 #fafafa; 
	}

	.contenedor_facilitadores
	{
		display: none;
	}

	.caja_Nueva
	{
		display: none;
	}
	.banner
	{
		display: none;
	}
	.caja_facilitadores.movil
	{
		display: flex;
		flex-direction: column;
		align-items: space-around;
		justify-content:center;
	}
		.caja_facilitadores section article h4
	{
 		 font-size: 1.6rem;
	}
	.caja_facilitadores section article h5
	{
 		 font-size: 1.3rem;
	}
}

/*
=================================================================================================
                                               masfacilitador
=================================================================================================
 */
.caja_facilitador.movil
{
	display: none;
}
 .caja_facilitador
{
	height:600px;
}
.caja_facilitador section{

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content:flex-start;
	margin-top: 1em;
	margin-bottom: 2em;
}

.cajas.facilitador article{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border:0;
	margin:0;
	padding:0;
}
.caja_facilitador section a#foto{
	margin-right: 2em;
}

.caja_facilitador .movil section{
	margin-top: 3em;
}

@media screen   and (max-width: 775px) {
	.caja_facilitador.movil{
		display:block;
	}
	.caja_facilitador.movil section a#foto{
		display:none;	
	}
	.caja_facilitador.movil section{
		align-items: center;
		justify-content:center;
	}
	.caja_facilitador.movil section div{
		text-align: center;
	}
}
/*
=================================================================================================
                                               mascurso
=================================================================================================
 */
 .caja_mascursos.movil{
 	display:none;
 }
.caja_mascursos{
	border:solid 1px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}
 .caja_mascursos section{

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-start;
	margin-top: 1em;
	margin-bottom: 2em;
}

.cajas.macursos article{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border:0;
	margin:0;
	padding:0;
}
.caja_mascursos section p{
	width:75%;
	margin-right: 5%;
}
.popularidad{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;	
}

@media screen   and (max-width: 775px) {
.incribirme p{
	font-size: 1.5em;
}

.caja_mascursos.movil{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
 	border:0;
 }
 #inscribirmascurso{
 	width:40%;
 	font-size: 1.5em;
 	align-self:center;
 	margin-top: 2em;
 }
}

@media screen   and (max-width: 537px) {
	.caja_mascursos.movil h5{
	font-size: 1.4em;	
	}
	#tutores{
		font-size: 1em;
		width:35%;
		padding:0;
	}
	#inscribirmascurso{
		font-size: 1em;
		padding:0;
	}
}
